name: CI

on:
  release:
    types:
      - published
  push:
  pull_request:
  repository_dispatch:


jobs:


  some-context-vars:
    runs-on: ubuntu-latest
    steps:
      - name: Get branch or version name from repo (howto)
        id: get-bv_name
        run: |
          if [[ "$GITHUB_REF" == *"refs/tags"* ]]; then
            # v4.0.6 -> 4.0.6
            echo ::set-output name=branch_or_version::$(echo ${GITHUB_REF#refs/tags/} | sed 's/v//g')
          else
            # feature/something -> feature-something
            echo ::set-output name=branch_or_version::$(echo ${GITHUB_REF#refs/heads/} | sed 's/\//-/g')
          fi

      - name: Some vars
        run: |
          echo Echoing:
          echo 'github.event.action   :' ${{ github.event.action }}
          echo 'github.event_name     :' ${{ github.event_name }}
          echo 'github.repository     :' ${{ github.repository }}
          echo 'github.sha            :' ${{ github.sha }}
          echo 'branch or version from GITHUB_REF:' ${{ steps.get-bv_name.outputs.branch_or_version }}
          echo 'GITHUB_REF            :' ${GITHUB_REF}
          echo 'GITHUB_REF#refs/heads/:' ${GITHUB_REF#refs/heads/}
          echo 'GITHUB_REF#refs/tags/ :' ${GITHUB_REF#refs/tags/}


  on-pull_request-job:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - run: echo 'github.event_name is:' ${{ github.event_name }}


  on-push-job:
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:
      - run: echo 'github.event_name is:' ${{ github.event_name }}


  on-release-job:
    if: github.event_name == 'release' && github.event.action == 'published'
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo 'github.event_name   is:' ${{ github.event_name }}
          echo 'github.event.action is:' ${{ github.event.action }}


  on-repository_dispatch-job:
    if: github.event_name == 'repository_dispatch'
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo 'github.event_name   is:' ${{ github.event_name }}
          echo 'github.event.action is:' ${{ github.event.action }}



  render-documentation:
    needs: [on-push-job]
    if: 1
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: |
          mkdir -p Documentation-GENERATED-temp
          echo '{"Overrides_cfg":{"html_theme_options":{"docstypo3org":""}}}' > Documentation-GENERATED-temp/jobfile.json
          if [[ "${{ matrix.mode }}" = "offline" ]]; then
              echo '{"Overrides_cfg":{"html_theme_options":{"docstypo3org":""}}}' > Documentation-GENERATED-temp/jobfile.json
          fi
          if [[ "${{ matrix.mode }}" = "online" ]]; then
              echo '{"Overrides_cfg":{"html_theme_options":{"docstypo3org":"nonempty"}}}' > Documentation-GENERATED-temp/jobfile.json
          fi
      - name: docker run
        run: |
          docker run --rm --user=$(id -u):$(id -g) \
            -v $(pwd):/PROJECT:ro \
            -v $(pwd)/Documentation-GENERATED-temp:/RESULT \
            -v $(pwd)/Documentation-Wheels:/WHEELS \
            ghcr.io/t3docs/render-documentation:develop makehtml-no-cache \
              -c make_singlehtml 0 \
              -c jobfile /RESULT/jobfile.json

      - run: stat Documentation-GENERATED-temp/Result/project/0.0.0/Index.html
      - run: touch Documentation-GENERATED-temp/Result/project/0.0.0/.nojekyll
      - name: Upload
        uses: actions/upload-artifact@v1
        with:
          name: html
          path: ./Documentation-GENERATED-temp/Result/project/0.0.0


  publish-gh-pages:
    needs: [render-documentation]
    if: 1 && github.event_name == 'push' && (github.event.ref == 'refs/heads/main' || github.event.ref == 'refs/heads/develop')
    runs-on: ubuntu-latest
    steps:
      - name: Download rendered docs
        uses: actions/download-artifact@v1
        with:
          name: html
          path: site
      - name: Duplicate Index.html to index.html
        run: cp -f site/Index.html site/index.html
      - name: Publish
        uses: JamesIves/github-pages-deploy-action@releases/v3
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUBREPOACCESS }}
          BRANCH: gh-pages
          FOLDER: site
